@using PrecisoPRO.Models.ViewModels

@{
    Layout = "_Layout";
    ViewData["Title"] = "BuscarCNDs";
}
<div class="container-fluid">
   @*  <!--LINHA DO CARD PARA CND FEDRAL-->
    <div class="row">

    </div>

    <!--LINHA DO CARD PARA CND ESTADUAL-->
    <div class="row">

    </div> *@

    <div class="card" style="min-height: 95vh;">
        <div class="card-header">
           CERTIDÃO NEGATIVAS DE DÉBITOS
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND Federal
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>
                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND Estadual
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>

                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND Municipal
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>

                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND Trabalhista
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>

                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND Fgts
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>

                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mt-2">
                    <div class="card card-cnd">
                        <div class="card-header">
                            CND  RFB/PGFN
                        </div>
                        <div class="card-body">
                            <h5 class="fs-7"><span>0</span>Encontradas</h5>
                            <h5 class="fs-7"><span>0</span>Não baixada</h5>

                            <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-list-check"></i> Listar</button>
                        </div>
                    </div>


                </div>
               
            </div>
            <div class="row mt-3">
                
               
            </div>



        </div>
    </div>
   
</div>

<section>
    <!-- MODAL-->
    <div class="modal fade" id="modal" aria-hidden="true">
    </div>
</section>
