html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal
{
   
    --bs-modal-width: 3000px !important;
    
}

.fs-6_5 {
    font-size: 0.9rem !important;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}

.col-md-2_5{
    flex: 0 0 auto;
    width: 20.83%;
}

.form-label {
    margin-bottom: 0rem !important;

}

/*Retirar o sublinhado dos elementos a, somente aparecer no hover (passar o maouse)*/
a {
    text-decoration: none;
}


    /*Hover somente nos cards CND*/
.card-cnd {
    /* Adiciona uma transição suave para a sombra */
    transition: box-shadow 0.3s ease-in-out;
   
}
    .card-cnd:hover {
       
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

