@model Usuario

<header>
    <!----===== HEADER IMAGEM USUÁRIO ===== -->
    <div class="image-text">
        <span class="image">
            <img src="~/lib/IMG/USUARIO2.png" alt="">
        </span>

        <div class="text logo-text">
            <span class="name">@Model.Nome</span>
            <span class="profession bw-dark opacity-75">
                <i class='bx bxs-circle text-success py-1'></i>
                Online
            </span>
        </div>
    </div>
    <!----===== FIM HEADER IMAGEM USUÁRIO ===== -->
    <i class='bx bx-chevron-right toggle'></i>
</header>