﻿@using PrecisoPRO.Models.ViewModels;
@model UsuarioViewModel
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_LayoutModais.cshtml";
}
@* <style>

.modal{
    --bs-modal-width: 66rem!important;
}
</style> *@

<div class="container mt-5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--AQUI CONTEUDO DO FORM-->









            </div>
        </div>
    </div>
</div>
<!--FIM DO CONTAINER-->